<!DOCTYPE html><html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audit</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.3/xlsx.full.min.js"> </script>
  </head>
  <body>
    <header>
      <h1>Audit</h1>
      <a class="link" href="../../../Admin/index.html"> <p class="p">Log in</p> <svg class="profile" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt" class="svg-inline--fa fa-sign-out-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="White" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"></path></svg></a>
     
    </header>
    <section id="Audit">
      <h2>Recent Changes Page {{pageNum}}</h2>
      <ul>
        <h3 v-for="(change, index) in changes">
          <li>On {{convertedDate(change.dateInMils)}} at {{convertedTime(change.dateInMils)}} {{change.changedDepartament}} had the following change(s): 
            <h4 v-if="change.oldState.freebeds!=change.newState.freebeds">
              Free beds: {{change.oldState.freebeds}} --> {{change.newState.freebeds}}      <label :style="[change.newState.freebeds>change.oldState.freebeds ? {'color':'green'} : {'color':'red'}]">({{change.newState.freebeds-change.oldState.freebeds}})</label>
            </h4>
            <h4 v-if="change.oldState.occupied!=change.newState.occupied">
              Occupied beds: {{change.oldState.occupied}} --> {{change.newState.occupied}}   <label :style="[change.newState.occupied>change.oldState.occupied ? {'color':'green'} : {'color':'red'}]">({{change.newState.occupied-change.oldState.occupied}})</label>
            </h4>
            <h4 v-if="change.oldState.total!=change.newState.total">
              Total beds: {{change.oldState.total}} --> {{change.newState.total}}   <label :style="[change.newState.total>change.oldState.total ? {'color':'green'} : {'color':'red'}]">({{change.newState.total-change.oldState.total}})</label>
            </h4>
            {{setOldChange(index)}}
            <h4 v-if="change.userChanging!=null">
             Change made by {{change.userChanging}}
            </h4>
          
            <h2 v-if="checkIfDiffDay" style="color:blue;margin-left: 0px;width: 35rem;height: 20px; "></h2>
            
          </li>  
          </h3> 
      
      <input type="number" v-on:input="setNumberOfChangesTemp" v-on:keyup.enter="confirmNumberOfChanges" v-bind:value="clearer"/>  Alterations to list, currently {{numberOfChanges}}
      <br>
   
      <button v-on:click="lastPage"> Prev Page</button>
      <button v-on:click="nextPage"> Next Page</button>
      
    </ul>
    </section>
  </body>
</html>
